* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.titles{
  display: none;
}

.titles .react{
  color: #61dafb;
}

.titles .ada{
  color: #b71b59;
}

a {
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

h3 {
  background-color: rgb(25, 19, 114);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
}

body {
  background-image: url("./bg.jpg");
}

.keyboard {
  display: flex;
  margin: 30px;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  background-color: white;
  --width: 60px;
  border-radius: 5px;
  border: 1px solid #333;
}

.black {
  background-color: black;
  --width: 37px;
  border-radius: 10px;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.isSounding {
  background-color: #999;
  transition: 0.5s;
}

@media (min-width: 1024px) {

  .App {
    height: 100vh;
  }

  .keyboard {
    -webkit-transform: rotate(0deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(0deg);      /* to support IE 9 */
    transform: rotate(0deg);    
  }

  .titles {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .dropdown {
    align-self: flex-end;
    margin-right: 10px;
  }

  #dropdown-basic-button {
    background-color: #b71b59;
    border-color: #b71b59;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
  }
}
