* {
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

a{
  font-weight: bolder;
}

h3{
  background-color: rgb(25, 19, 114);
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  display: block;
}

body {
  background-image: url("./bg.jpg");
  height: 100vh;
}

.container {
  display: flex;
  margin: 30px;
  justify-content: center;
  -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(90deg);      /* to support IE 9 */
  transform: rotate(90deg);
}

.title{
  display: none;

}

.title .react{
  color: #61dafb;
}

.title .ada{
  color: #b71b59;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  background-color: white;
  --width: 60px;
  border-radius: 5px;
  border: 1px solid #333;
}

div:nth-child(5), div:nth-child(12), div:nth-child(17), div:nth-child(24){
  margin-right: 0px;
  border-right: none;
}
div:nth-child(6), div:nth-child(13), div:nth-child(18), div:nth-child(25){
  margin-left: 0px;
}

.black {
  background-color: black;
  --width: 36px;
  border-radius: 10px;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.isSounding {
  background-color: #999;
  transition: 0.5s;
}

@media (min-width: 1024px){
  .container {
    -webkit-transform: rotate(0deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(0deg);      /* to support IE 9 */
    transform: rotate(0deg);
    
  }

  .title {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

  }
}
